#contextmenucontainer {
    width: 200px;
    height: 300px;
    position: absolute;
    background-color: black;
    color: white;
    z-index: 2;
    top: 207px;
    left: 513px;
    background-color: #494949;
    border: 2px solid black;
    border-radius: 13px;
    box-shadow: 2px 2px 2px 2px #cecece;

}


.contextmenuitem {
    background-color: lightgrey;
    border: 2px solid transparent;
    border-radius: 7px;
    padding: 5px;
    color: black;
    font-size: 12pt;
    margin: 4px;
    text-align: center;
}